<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../tmpl/css/twitter.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">

      <div id="loginForm" class="row">
        <div class="col-md-offset-3 col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">ログインしてください</div>
            <div class="panel-body">
              <form method="POST" action="login.cgi">
                <div id="mailForm" class="form-group has-error">
                  <label class="control-label" for="emailInput">メールアドレス</label>
                  <input type="email" name="name" class="form-control" id="emailInput" placeholder="xxx@xxx.com">
                  <p id="mailFormWarn" class="help-block">メールアドレスを入力してください。</p>
                  <div class="form-group has-error"><p class="help-block"><strong><TMPL_VAR NAME="InvalidUserNameMessage"></strong></p></div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="emailPassword">パスワード</label>
                  <input type="password" name="password" class="form-control" id="emailPassword" placeholder="">
                  <div class="form-group has-error"><p class="help-block"><TMPL_VAR NAME="InvalidUserPasswordMessage"></p></div>
                  <div class="form-group has-error"><p class="help-block"><strong><TMPL_VAR NAME="FaildLoginMessage"></strong></p></div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">ログイン</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
    <script type="text/javascript">
      $("#emailInput").focusin(function(){
        $("#mailFormWarn").hide();
        $("div[id='mailForm']").removeClass("has-error");
      });
      $("#emailInput").focusout(function(){
        if($(this).val() == ""){
          $("div[id='mailForm']").addClass("has-error");
          $("#mailFormWarn").show();
        }
      });
    </script>
  </body>
</html>
