<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../tmpl/css/twitter.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="mainpage.cgi"><span class="glyphicon glyphicon-home"></span></a>
        </div>
      </div>
    </nav>

    <div class="container-fluid container-with-header">
      <div class="row">
        <div class="col-md-offset-1 col-md-3 sidebar">
          <!-- 投稿機能 -->
          <div class="panel panel-default">
            <div class="panel-body">
              <form method="POST" action="tweet.cgi" enctype="multipart/form-data">
                <TMPL_IF NAME="IS_TWEET_ERROR">
                <div class="form-group has-error">
                <TMPL_ELSE>
                <div class="form-group">
                </TMPL_IF>
                  <textarea class="form-control" name="plain_tweet" placeholder="いまどうしてる？"><TMPL_VAR NAME="TWEET"></textarea>
                  <p class="help-block"><strong><TMPL_VAR NAME="InvalidTweetMessage"></strong></p>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-default">ツイート</button>
                </div>
              </form>
            </div>
          </div>
          <!-- /投稿機能 -->

          <!-- 検索機能 -->
          <div class="panel panel-default">
            <div class="panel-body">
              <form method="POST" action="searchpage.cgi">
                <div class="input-group">
                  <input type="text" name="text" class="form-control" placeholder="Twitterを検索">
                  <TMPL_VAR NAME="SEARCH_ERROR_MESSAGE">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <!-- /検索機能 -->
        </div><!-- /.sidebar -->

        <div class="col-md-7">
          <TMPL_VAR NAME="TIMELINE_TMPL">
        </div><!-- /right block -->
      </div>
    </div>
  </body>
</html>
