<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../tmpl/css/twitter.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span></a>
        </div>
      </div>
    </nav>

    <div class="container-fluid container-with-header">
      <div class="row">
        <div class="col-md-offset-1 col-md-3 sidebar">
          <!-- ユーザーページ -->
          <div class="panel panel-success">
            <div class="panel-heading"><strong>aaa@bbb.com</strong></div>
            <div class="panel-body">
              <dl>
                <dt>投稿数</dt><dd>20</dd>
              </dl>
            </div>
          </div>
          <!-- /ユーザーページ -->

        </div><!-- /.sidebar -->

        <div class="col-md-7">
          <!-- tweets -->
          <TMPL_LOOP NAME = "TIMELINE_LOOP">
            <div class="panel panel-info tweets">
              <div class="panel-heading">
                <TMPL_VAR NAME = "USER_URL">
                <TMPL_VAR NAME = "ERASE_TWEET_ZONE">
              </div>
              <div class="panel-body">
                <p><TMPL_VAR NAME = "TEXT"></p>
                <h6 class="text-muted"><TMPL_VAR NAME = "TIME"></h6>
              </div>
            </div>
          </TMPL_LOOP>
          <!-- /tweets -->

          <nav>
            <ul class="pager">
              <li><a href="#"><span class="glyphicon glyphicon-chevron-left"></span> 前のページ</a></li>
              <li>2 / 8 ページ</li>
              <li><a href="#">次のページ <span class="glyphicon glyphicon-chevron-right"></span></a></li>
            </ul>
          </nav>
        </div><!-- /right block -->
      </div>
    </div>
  </body>
</html>
